## Problem Statement

Dream Housing Finance Inc. specializes in home loans across different market segments - rural, urban and semi-urban.  Thier loan eligibility process is based on customer details provided while filling an online application form. To create a targeted marketing campaign for different segments, they have asked for a comprehensive analysis of the data collected so far.

## About the Dataset
The dataset has details of 614 customers with the following 13 features

|Feature|Description|
|-----|-----|
|Loan_ID|Unique Loan ID|
|Gender|Male/Female|
|Married|Applicant Married (Y/N)|
|Dependents|Number of dependents|
|Education|Graduate/Under Graduate|
|Self_Employed|Self employed (Y/N)|
|ApplicantIncome|Income of the applicant|
|CoapplicantIncome|Income of the co-applicant|
|LoanAmount|Loan amount in thousands|
|Loan_Amount_Term|Term of loan in months|
|Credit_History|credit history meets guidelines}|
|Property_Area| Urban/Semi-Urban/Rural|
|Loan_Status|Loan approved (Y/N)|



Our major work for this project involves data analysis using Pandas. 

## Why solve this project ?

After completing this project, you will have better grip on working with pandas. In this project you will apply following concepts.

 
- Dataframe slicing 
- Dataframe aggregation 
- Pivot table operations

In [4]:
# Import packages
import numpy as np
import pandas as pd
from scipy.stats import mode

## Task 1
**Let's check which variable is categorical and which one is numerical so that you will get a basic idea about the features of the bank dataset.**

#### Instructions :

- Create dataframe `bank` by passing the `path` of the file


- Create the variable `'categorical_var'` and using `'df.select_dtypes(include = 'object')'` check all categorical values.  


- print `'categorical_var'`


- Create the variable `'numerical_var'` and using `'df.select_dtypes(include = 'number')'` check all categorical values.


- print `'numerical_var'`

In [5]:
# define dataframe
# bank = pd.read_csv('C:/Users/vidhi/Downloads/Basecamp/Day_4_loan_approval_analysis/data/data.csv')
bank = pd.read_csv('../data/data.csv')

#take out all categorical column
categorical_var = bank.select_dtypes(include = 'object')
print(categorical_var)

#take out all numerical column
numerical_var = bank.select_dtypes(include = 'number')
print(numerical_var)

# to convert this directly in list

numerical_var_list = bank.select_dtypes(include = 'number').columns.tolist()
print(numerical_var_list)

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

    Property_Area Loan_Status
0           Urban           Y
1           Rural           N
2           Urban           Y
3           Urban           Y
4           Urban           Y
..            ...         ...
609         Rural           Y
610         Rural           Y
611         Urban           Y
612         Urban           Y
613     Semiurban           N

[614 rows x 8 columns]
     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History
0               1.0
1               1.0
2               1.0
3               1.0
4               1.0
..              ...
609             1.0
610             1.0
611             1.0
612             1.0
613             0.0

[614 rows x 5 columns]
['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History']

## Task 2

**Sometimes customers forget to fill in all the details or they don't want to share other details. Because of that, some of the fields in the dataset will have missing values. Now you have to check which columns have missing values and also check the count of missing values each column has. If you get the columns that have missing values, try to fill them.**


#### Instructions :

- From the dataframe `bank`, drop the column `Loan_ID` to create a new dataframe `banks`

- To see the null values, use `"isnull().sum()"` function and print it.

- Calculate `mode` for the dataframe `banks` and store in `bank_mode`

- Fill missing(NaN) values of `banks` with `bank_mode` and store the cleaned dataframe back in `banks`. 

-  Check if all the missing values `(NaN)` are filled.

In [6]:
#drop the column
banks = bank.drop(columns=['Loan_ID'])
banks.head()

#Check the null value
banks.isnull().sum()

#Mode of dataframe
bank_mode = banks.mode().iloc[0]
type(bank_mode)

#fill missing values
banks = banks.fillna(bank_mode)

#check null values
banks.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

## Task 3

**Now let's check the loan amount of an average person based on  `'Gender', 'Married', 'Self_Employed' `.  This will give a basic idea of the average loan amount of a person.**


#### Instructions :

- We will use previously created dataframe `banks` for this task.
- Generate a pivot table with index as `'Gender', 'Married', 'Self_Employed'` and values as `'LoanAmount'`,  using `mean aggregation`


- Store the result in a variable called `'avg_loan_amount'`

In [11]:
avg_loan_amount = pd.pivot_table(data = banks, index = ['Gender', 'Married'], values = 'LoanAmount',columns = ['Self_Employed'], aggfunc = np.mean)
avg_loan_amount

Self_Employed           No         Yes
Gender Married
Female No       114.768116  125.272727
       Yes      133.714286  282.250000
Male   No       129.508621  180.588235
       Yes      152.608150  167.420000

## Task 4

**Now let's check the percentage of loan approved based on a person's employment type.**


#### Instructions:

- We will use the previously created dataframe `banks` for this task.

- Create variable `'loan_approved_se'` and store the count of results where `Self_Employed` == `Yes ` and `Loan_Status` == `Y`.

- Create variable `'loan_approved_nse'` and store the count of results where `Self_Employed` == `No ` and `Loan_Status` == `Y`.

- `Loan_Status` count is given as `614`.

- Calculate the percentage of loan approval for self-employed people and store result in variable `'percentage_se'`. 

- Calculate the percentage of loan approval for people who are not self-employed and store the result in variable `'percentage_nse'`.

In [40]:
# calculate for loan status
loan_approved_se = banks.loc[(banks['Self_Employed'] == 'Yes') & (banks['Loan_Status'] == 'Y'),['Loan_Status']].count()
# loan_approved_se = banks[(banks['Self_Employed'] == 'Yes') & (banks['Loan_Status'] == 'Y')]['Loan_Status'].count()
print(loan_approved_se)

loan_approved_nse = banks.loc[(banks['Self_Employed'] == 'No') & (banks['Loan_Status'] == 'Y'),['Loan_Status']].count()
print(loan_approved_nse)

# Calculate percentage

percentage_se = loan_approved_se/614*100
print(percentage_se)

percentage_nse = loan_approved_nse/614*100
print(percentage_nse)

Loan_Status    56
dtype: int64
Loan_Status    366
dtype: int64
Loan_Status    9.120521
dtype: float64
Loan_Status    59.609121
dtype: float64

## Task 5

**A government audit is happening real soon! So the company wants to find out those applicants with long loan amount term.**  

#### Instructions:

- Use `"apply()"` function to convert `Loan_Amount_Term`  which is in months to a year and store the result in a variable `'loan_term'`.

- Find the number of applicants having loan amount term greater than or equal to 25 years and store them in a variable called `'big_loan_term'`.

In [58]:
loan_term = banks['Loan_Amount_Term'].apply(lambda x:x/12)
big_loan_term = len(loan_term.loc[loan_term>=25])
print(big_loan_term)

554

## Task 6

**Now let's check the average income of an applicant and the average loan given to a person based on their income.**


#### Instructions :

- Groupby the `'banks'` dataframe by `Loan_Status` and store the result in a variable called `'loan_groupby'`

- Subset `'loan_groupby'` to include only  `['ApplicantIncome', 'Credit_History']` and store the subsetted dataframe back in `'loan_groupby'`

- Then find the `mean` of `'loan_groupby'` and store the result in a new variable `'mean_values'`

In [64]:
loan_groupby = banks.groupby('Loan_Status')[['ApplicantIncome', 'Credit_History']].agg(np.mean)
loan_groupby

             ApplicantIncome  Credit_History
Loan_Status
N                5446.078125        0.572917
Y                5384.068720        0.983412